$turqoise: #10987f;

$primary: $turqoise;

$wallpaper-image-link: 'https://dl.dropboxusercontent.com/scl/fi/nbtjwns1lir3mip4nbwuk/wallpaper1920x1080.jpg?rlkey=9134llo5hxgi9y3nknfgocsgt&dl=0';

// Set variables for wave properties
$wave-color: #3498db; // Change this to your desired wave color
$wave-amplitude: 10px; // Amplitude of the wave
$wave-frequency: 0.03; // Frequency of the wave
$wave-height: 200px; // Height of the wave pattern